{% extends 'base.html' %}
{% load static %}
{% block content %}               

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form name="sum" method="post">
                            {% csrf_token %}
                            <input name="sum" placeholder="Введите сумму">
                            <p></p>
                            <button type="submit">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
